AT2/project/resources/classics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/2001/XMLSchema"/>
	<xs:element name="classics">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="car">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="model" type="xs:string"/>
							<xs:element name="country" type="xs:string"/>
							<xs:element name="company" type="xs:string"/>
							<xs:element name="price" type="xs:decimal"/>
							<xs:element name="year" type="xs:date"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>